html {
	overflow-x: hidden;
}
body {
	margin: 0;
}
.header {
	background: #273852;
	height: 100px;
}
.header__heading {
	color: white;
	text-align: left;
	position: absolute;
	top: 20px;
	left: 30px;
}
.header__caption {
	color: white;
	font-style: italic;
	position: absolute;
	top: 35px;
	left: 300px;
}
.content {
	width: 70vw;
	padding: 20px;
	display: inline-block;
}
.content__sub {
	height: 20vh;
	padding-bottom: 100px;
}
.content__img {
	float: left;
	height: 220px;
	width: 220px;
	background-color: #d0d0d0;
}
.content__modifier {
	position: relative;
	left: 30px;
}
.content__date {
	font-size: 12px;
}
.content__matter {
	text-align: justify;
}
.content__button {
	background: #d25e52;
	color: white;
	height: 35px;
	border: 0;
}
.form {
	width: 25vw;
	float: right;
	position: relative;
	top: 30px;
	left: 30px;
}
label {
	display: block;
}
.form__select-box {
	position: relative;
	top: 10px;
	width: 15vw;
	height: 30px;
	text-indent: 5px;
}
.form__subscribe-label {
	position: relative;
	top: 50px;
}
.form__subscribe-textbox {
	position: relative;
	top: 60px;
	width: 38%;
	height: 20px;
	text-indent: 5px;
}
.form__subscribe-button {
	position: relative;
	top: 60px;
	right: 5px;
	background: #262626;
	color: white;
	height: 26px;
	border: 0;
}
.footer {
	background: #273852;
	height: 50px;
}
.footer__copyright {
	color: white;
	text-align: center;
	position: relative;
	top: 15px;
}
