html{
    overflow-x: hidden;
}
body{
    margin:0;
}
.header{
    background: #203c69;
    height:100px;
}
.heading{
    color:white;
    text-align: left;
    position: absolute;
    top:20px;
    left:30px;
}
.caption{
    color: white;
    font-style: italic;
    position: absolute;
    top:35px;
    left:300px;
}
.content{
    width:70vw;
    padding:20px;
    display: inline-block;
}
.contentsub{
    height:20vh;
    margin-bottom: 100px;
}
.content-img{
    float:left;
    height: 220px;
    width: 220px;
    background-color: grey;
}
.content-head{
    position: relative;
    left:30px;
}
.content-date{
    font-size: 12px;
    position: relative;
    left:30px;
}
.content-matter{
    text-align: justify;
    position: relative;
    left:30px;
}
.content-button{
    position: relative;
    left:30px;
    background: #e06a2f;
    color: white;
    height:35px;
    border:0;
}
.form{
    width:25vw;
    float: right;
    position: relative;
    top:30px;
    left:30px;
}
label{
    display: block;
}
.sel-box{
    position: relative;
    top:10px;
    width:15vw;
    height:30px;
    text-indent: 5px;
}
.subscribe-label{
    position: relative;
    top:50px;
}
.subscribe-textbox{
    position: relative;
    top:60px;
    width: 38%;
    height:20px;
    text-indent: 5px;
}
.subscribe-button{
    position: relative;
    top:60px;
    right:5px;
    background: black;
    color: white;
    height:26px;
    border: 0;
}
.footer{
    background: #203c69;
    height:50px;
}
.copyright{
    color: white;
    text-align: center;
    position: relative;
    top:15px;
}

